_site/
.netlify
.netlify/*
node_modules/
package-lock.json
posts/.obsidian/app.json
posts/.obsidian/appearance.json
posts/.obsidian/core-plugins.json
posts/.obsidian/workspace.json
.env
assets/js/bootstrap.bundle.min.js
assets/js/bootstrap.min.css
.DS_Store
