---
layout: base.njk
title: Gallery
description: Photos from our events and community activities.
permalink: "/gallery/"
---

<div>
    <div class="mb-5">
        <h1>Gallery</h1>
        <p class="text-muted">Photos from our events and community activities.</p>
        {% include "partials/galleryAll.njk" %}
    </div>

    <div class="text-center my-4">
        {% include "partials/btn.njk" %}
    </div>
</div>
