---
title: "Newsletter"
description: "Subscribe to our newsletter to receive announcements."
---

<div class="row mb-5">
    <div class="text-primary text-center col-12 bg-light rounded-3 p-4 pb-3 shadow">
    <h2 class="mb-3 fs-3 fw-semibold">Subscribe to Our Newsletter</h2>
    <p>
    Receive announcements on events, initiatives and regular reports.
    </p>
    <script type="text/javascript"
        src="//engage.electronworkshop.com.au/form/generate.js?id=1"></script>
    </div>
</div>

{% include "partials/btn.njk"%}