<div class="footer-wrapper">
  <div class="divider" aria-hidden="true"></div>

  <footer class="border-top py-4 mt-auto bg-black" id="footer-main">
    <br>
    <br>
    <div class="container-fluid text-center text-light">
      <div class="row">
        <div class="col-12 mb-3">
            <span class="mb-1">Copyright &copy; <span id="year"></span> Linux Victoria - All Rights Reserved</span>
        </div>
        <div class="col-12">
            <div>
              <a class="small fs-6 text-decoration-none text-light" target="_blank" href="https://github.com/LinuxVictoria/linux-victoria-website">
                <i class="bi bi-github me-2"></i>View on Github
              </a>
            </div>
        </div>
    </div>
    </div>
  </footer>
</div>